select.dropdown {
    width: 100%;
}
.select2-container--bootstrap {
  &.select2-container {
    .select2-selection {
      background: transparent;
      border: none;
      box-shadow: none;
    }
    .select2-dropdown {
      border: 1px solid $gray-lighter;
      background-color: #fff;
      color: $gray-darker;
    }
    .select2-results__option--highlighted {
      background-color: $teal;
    }
  }
  .select2-selection--single {
    padding: 0;
    height: 22px;
  }
  .select2-selection__rendered {
    display:inline-block;
    &:after {
     content: "\e901";
     display: inline-block;
     margin-left: 5px;
     position: relative;
     font-family: 'amara' !important;
     speak: none;
     transform: rotate(90deg);
     @include transition();
     pointer-events: none;
   }
  }
  .select2-selection__arrow {
   display: none;
  }
  .select2-container--open {
    .select2-dropdown--below {
      border-radius: 0;
    }
  }
  .select2-search--dropdown {
    .select2-search__field {
      border-radius: none;
      border: none;
      border-bottom: 1px solid $gray-light;
    }
  }
  .select2-results__option[aria-selected=true] {

  }
}

.select2-results__option {
  margin-right: 12px;
}

