/* -----------------------------------------
   Variables
----------------------------------------- */

$gray-base:              #222626; // Charcoal
$gray-darker:            #393839;
$gray-dark:              #9fa0a1; // Dark Grey
// $gray:                   lighten($gray-base, 33.5%);
$gray-light:             #d9d9d9;
$gray-lighter:           #F3F4F6; // Light Grey

$teal:              #1d806a;
$magenta:           #e61972;
$turquoise:         #3da285;
$plum:              #632e50;
$lime-dark:         #77a841;

$brand-primary:     $teal;

// $brand-success:         #5cb85c;
// $brand-info:            #5bc0de;
// $brand-warning:         #f0ad4e;
// $brand-danger:          #d9534f;

$text-color:            $gray-base;
$hr-border:             $gray-light;

// typography
$font-size-base:          12px;
$font-family-sans-serif:  'Open Sans', sans-serif;
$headings-font-family:    'Raleway', sans-serif;
$headings-font-weight:    300;
// $headings-line-height:    1.1;
$headings-color:          inherit;

$font-size-h1:            22px;
$font-size-h2:            22px;
$font-size-h3:            16px;
$font-size-h4:            14px;
$font-size-h5:            $font-size-base;
$font-size-h6:            15px;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                600;

$btn-default-color:              #fff;
$btn-default-bg:                 $plum;
$btn-default-border:             $plum;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $brand-primary;

// $btn-success-color:              #fff !default;
// $btn-success-bg:                 $brand-success !default;
// $btn-success-border:             darken($btn-success-bg, 5%) !default;

// $btn-info-color:                 #fff !default;
// $btn-info-bg:                    $brand-info !default;
// $btn-info-border:                darken($btn-info-bg, 5%) !default;

// $btn-warning-color:              #fff !default;
// $btn-warning-bg:                 $brand-warning !default;
// $btn-warning-border:             darken($btn-warning-bg, 5%) !default;

// $btn-danger-color:               #fff !default;
// $btn-danger-bg:                  $brand-danger !default;
// $btn-danger-border:              darken($btn-danger-bg, 5%) !default;

// $btn-link-disabled-color:        $gray-light !default;

// Allows for customizing button radius independently from global border radius

$padding-base-vertical:     7px;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       0px;
$padding-xs-horizontal:     8px;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

$input-border-radius:       none;