#video_details {
  i {
    font-size: 30px;
    color: $turquoise;
  }
  h6 {
    small {
      color: inherit;
      font-weight: 400;
      font-size: 13px;
    }
  }
  .player {
    min-height: 350px;
  }
  .actions {
    position: absolute;
    top: -30px;
    right: 0;
  }
  #video_info {
    position: relative;
    padding-top: 30px;
  }
  #video_activity {
    table {
      tr {
        td {
          &:first-child {
            width: 50px;
          }
        }
      }
    }
  }
  #video_comments {
    padding-top: 40px;
    .avatar {
      width: 50px;
    }
    table {
      tbody {
        tr {
          &:last-child {
            background-color: #ffffff;
            td {
              textarea {
                width: 100%;
                height: 75px;
              }
            }
          }
          td {
            vertical-align: top;
            &.comment-body {
              padding-bottom: 40px;
              position: relative;
              width: 70%;
              span {
                position: absolute;
                bottom: 10px;
                right: 10px;
              }
            }
          }
        }
      }
    }
  }
  #video_urls {
    tr.primary {
      font-weight: bold;
    }
  }
}



@media (max-width: 1024px) {
  #video_details {
    .player {
      min-height: 0;
    }    
  }
}

@media (max-width: 768px) {
  #video_details {
    dl {
      dt,
      dd {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
