{% load i18n %}
{% load url from future %}
<div id="page-header">
  <div id="topnav">
    <ul class="nav navbar-right">
      <li><a class="home" href="{% url "home" %}"><img src="{{ STATIC_URL }}images/amara-logo.svg" alt="Amara" /></a></li>
      {% include "future/user-menu.html" %}
    </ul>
  </div>
  <div id="mainnav">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ team.get_absolute_url }}" class="navbar-brand">{% if team.square_logo_thumbnail_medium %}<img src="{{ team.square_logo_thumbnail_medium }}" /> {% endif %}{{ team }}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if team_nav == "dashboard" %}class="active"{% endif %}><a href="{% url "teams:dashboard" team.slug %}">{% trans "Dashboard" %}</a></li>
            <li {% if team_nav == "video" %}class="active"{% endif %}><a href="{% url "teams:videos" team.slug %}">{% trans "Videos" %}</a></li>
            <li {% if team_nav == "member_directory" %}class="active"{% endif %}><a href="{% url "teams:members" team.slug %}">{% trans "Members" %}</a></li>
            <li {% if team_nav == "activity" %}class="active"{% endif %}><a href="{% url "teams:activity" team.slug %}">{% trans "Activity" %}</a></li>
            <li {% if team_nav == "resources" %}class="active"{% endif %}><a href="">{% trans "Resources" %}</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
