{% extends "future/base.html" %}
{% load i18n %}
{% load url from future %}

{% block head-extra %}
{% include "future/videos/embed-script.html" %}
{% endblock %}

{% block header %}{% if header %}{{ header }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
<section id="video_details">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-9">
        <div class="content content-left">
          {% include "future/videos/embed.html" with width=848 height=450 url=player_url %}
          <h2>{{ video.title_display }}</h2>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"{% if tab == "info" %} class="active"{% endif %}><a href="#video_info" aria-controls="video_info" role="tab" data-toggle="tab">{% trans "Video info" %}</a></li>
            <li role="presentation"{% if tab == "activity" %} class="active"{% endif %}><a href="#video_activity" aria-controls="video_activity" role="tab" data-toggle="tab">{% trans "Activity" %}</a></li>
            <li role="presentation"{% if tab == "comments" %} class="active"{% endif %}><a href="#video_comments" aria-controls="video_comments" role="tab" data-toggle="tab">{% trans "Comments" %}</a></li>
            <li role="presentation"{% if tab == "urls" %} class="active"{% endif %}><a href="#video_urls" aria-controls="video_urls" role="tab" data-toggle="tab">{% trans "URLs" %}</a></li>
          </ul>
          <div class="tab-content">
            <div id="video_info" class="tab-pane{% if tab == "info" %} active{% endif %}" role="tabpanel">
              <nav class="actions">
                <a href="#" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#share-dialog">Share</a>
                <a href="#" class="btn btn-xs">Follow</a>
              </nav>
              {% include "future/videos/tabs/info.html" %}
            </div>
            <div id="video_activity" class="tab-pane{% if tab == "activity" %} active{% endif %}" role="tabpanel">
              {% include "future/videos/tabs/activity.html" %}
            </div>
            <div id="video_comments" class="tab-pane{% if tab == "comments" %} active{% endif %}" role="tabpanel">
              {% include "future/videos/tabs/comments.html" %}
            </div>
            <div id="video_urls" class="tab-pane{% if tab == "urls" %} active{% endif %}" role="tabpanel">
              {% include "future/videos/tabs/urls.html" %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-3">
        {% if sidebar_extra %}
        <div class="content content-right">
          {{ sidebar_extra }}
        </div>
        {% endif %}
        <div class="content content-right">
          {% if completed_languages %}
          <h1>{% blocktrans with count=completed_languages|length %}Completed subtitles (<span class="total">{{ count }}</span>){% endblocktrans %}</h1>
          <hr/>
          <ul class="nav nav-stacked">
            {% for subtitle_language in completed_languages %}
            <li>
              <h6><a href="{{ subtitle_language.get_absolute_url }}">{{ subtitle_language.get_language_code_display }}</a></h6>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block bottom %}
<div class="modal fade" id="share-dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4>{% trans "Embed video" %} </h4>
      <p>{% blocktrans %}Use the following code to embed this video. See our <a href="https://github.com/pculture/unisubs/wiki/Embed-Code-Usage-Guide" title="Embed usage guide">usage guide</a> for more details on embedding.{% endblocktrans %}</p>

      <p>
        {% trans "Paste this in your document somewhere (closest to the closing body tag is preferable):" %}
        <pre>
&lt;script type="text/javascript" src='https://amara.org/embedder-iframe'&gt;
&lt;/script&gt;
        </pre>
      </p>
      <p>
        {% trans "Paste this inside your HTML body, where you want to include the widget, with the width and height of your choosing:" %}
        <pre>
&lt;div class="amara-embed" data-height="{{ height }}px" data-width="{{ width }}px" data-url="{{ video_url }}"&gt;
&lt;/div&gt;
        </pre>
      </p>
    </div>
  </div>
</div>

{% if create_url_form %}
<div class="modal fade" id="add-url-dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4>{% trans 'Add another URL for this video' %}</h4>
      <p>{% trans "Add a URL for another version of the exact same video. Useful when many versions of the same video exist, or when there are different formats (like HTML5)" %}</p>

      <div id="add-url-form">{% include "future/videos/forms/create-url.html" %}</div>
    </div>
  </div>
</div>
{% endif %}

{% if allow_delete %}
<div class="modal fade" id="delete-url-dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4>{% trans "Delete Video URL" %}</h4>
      <h6 class="url"></h6>
      <p class="warning">{% trans "Warning: this cannot be undone. Only delete URLs for non-matching videos or videos where subtitles fail to display correctly." %}</p>
        <form action="" class="ajax" method="post">
          {% csrf_token %}
          <input type="hidden" name="form" value="delete-url">
          <input type="hidden" name="id" value="">
          <div class="clearfix">
            <button type="submit" class="btn btn-primary pull-right">{% trans "Delete" %}</button>
          </div>
        </form>
    </div>
  </div>
</div>
{% endif %}

{% if allow_make_primary %}
<div class="modal fade" id="make-url-primary-dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4>{% trans "Make Video URL Primary" %}</h4>
      <h6 class="url"></h6>
      <p>{% trans "This will make it the default playback URL" %}</p>
        <form action="" class="ajax" method="post">
          {% csrf_token %}
          <input type="hidden" name="form" value="make-url-primary">
          <input type="hidden" name="id" value="">
          <div class="clearfix">
            <button type="submit" class="btn btn-primary pull-right">{% trans "Make Primary" %}</button>
          </div>
        </form>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

